.sass-cache/
bower_components/
node_modules/
*.swp
app/*
app/wp-content/*
app/wp-content/themes/*
!app/wp-content/themes/bwap-theme
app/wp-content/themes/bwap-theme/style.css
app/wp-content/themes/bwap-theme/main.js
!app/wp-content/mu-plugins/
