/*
* +Tiles
*/
.tile {position:relative}
.tile:hover {opacity:.8}

.tile__image-wrap {display:block;width:100%;height:auto;position:relative;overflow:hidden;padding:77% 0 0 0;margin-bottom:.5em}
.tile__image {display:block;background-size:cover;background-position:center;max-width:100%;max-height:100%;position:absolute;top:0;bottom:0;left:0;right:0}

.tile__content {padding:0 15px}
.tile__title {color:$gray-dark}
.tile__subtitle {color:$gray-light;font-size:13px}